<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKS.Properties.Settings.QLKSConnectionString" connectionString="Data Source=MSI;Initial Catalog=QLKS;Persist Security Info=True;User ID=sa;Password=djtcumay"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>